.tippop-container {
  position: relative;
  width: max-content;

  .tippop {
    display: block;
    padding: 8px;
    margin: 0px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    position: absolute;
    z-index: 1;

    &.position-top {
      border-bottom: 2px solid;
    }
    &.position-bottom {
      border-top: 2px solid;
    }
    &.position-left {
      border-right: 2px solid;
    }
    &.position-right {
      border-left: 2px solid;
    }
  }
}
