html,
body,
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

#tippop-app {
  min-height: 100vh;
}

p {
  margin: 0;
}

.link-icon {
  &.npm {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  &.gh {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 10px;
  }
}
